<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name = "Con" connectionString = "server = DESKTOP-RTHQME0\MSSQLSERVER01; integrated Security = yes; Database = Agenda;"/>
 <!--   <add name = "Con" connectionString = "server = DESKTOP-RTHQME0\\MSSQLSERVER01; integrated Security = false; Database = Agenda;uid=sad;pwd=123;"/>-->
  </connectionStrings>
</configuration>